<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - API </title>
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/base.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>API</h1>
        </div>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
        <div class="footer">
            <p>API</p>
        </div>
    </div>
</body>
</html>
